<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div style="background-color: #296296" class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
      <img src="assets/img/logo.png" alt="" style="width: 200px; height: 55px">
    </div>
    <br>
    <br>
    <br>

    <div class="list-group list-group-flush">
      <div class="" style="padding:8px;">
        <input class="searchInput" type="text" placeholder="&#61442;Search..."/> <br/>
      </div>
      <br>
      <br>

      <h5 href="#" class="hed-dashboard">My Dashboard</h5>
      <hr>
      <div class="">
        <div class="item">
          <i class="fa fa-bars text-white" style="margin: 8px"></i>
          <a  class="single-item">Finance</a >
          <a class="ri-icon">
            <i class="fa fa-star-o text-white" style="padding-right:8px;"></i>
            <i class="fa fa-close text-white"  style="padding-right:8px;"></i>
          </a>
        </div>
        <div class="item">
          <i class="fa fa-bars text-white" style="margin: 8px"></i>
          <a class="single-item">Sales</a>
          <a class="ri-icon">
            <i class="fa fa-star-o text-white" style="padding-right:8px;"></i>
            <i class="fa fa-close text-white"  style="padding-right:8px;"></i>
          </a>
        </div>

        <div class="item text-center">
          <a class="fa fa-plus-circle text-white text-center"></a>
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h5 href="#" class="hed-dashboard">Shared <a class="fa fa-users text-white "></a></h5>
      <hr>
      <div>
        <div class="item">
          <i class="fa fa-bars text-white" style="margin: 8px"></i>
          <a  class="single-item">Shared 01</a >
          <a class="ri-icon">
            <i class="fa fa-star-o text-white" style="padding-right:8px;"></i>
            <i class="fa fa-close text-white" style="padding-right:8px;"></i>
          </a>
        </div>
        <div class="item">
          <i class="fa fa-bars text-white" style="margin: 8px"></i>
          <a class="single-item">Shared 02</a>
          <a class="ri-icon">
            <i class="fa fa-star-o text-white" style="padding-right:8px;"></i>
            <i class="fa fa-close text-white"  style="padding-right:8px;"></i>
          </a>
        </div>

        <div class="item text-center">
          <a class="fa fa-plus-circle text-white text-center"></a>
        </div>
      </div>

    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav style="background-color: #296296" class="navbar navbar-expand-lg navbar-light border-bottom">
      <div>
        <button class="btn" id="menu-toggle">
          <i class="fa fa-bars text-white" style="font-size: 30px"></i>
        </button>
        <button class="btn" style="padding:8px;">
          <i class="fa fa-search text-white" style="font-size: 30px"></i>
        </button>
        <button class="btn single-item " style="padding:8px;">
          Dashboard
        </button>
        <button class="btn single-item" style="padding:8px;">
          Play Area
        </button>
        <button class="btn single-item" style="padding:8px;">
          Widgets
        </button>
        <button class="btn single-item" style="padding:8px;">
          Templates
        </button>
        <button class="btn single-item" style="padding:8px;">
          Data Locker
        </button>
      </div>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="" style="padding:15px;">
            <a class="fa fa-bell-o text-white" style="font-size: 30px"></a>
          </li>
          <li class="" style="padding:15px;">
            <a class="fa fa-user-circle-o text-white" style="font-size: 30px" ></a>
          </li>
          <li class="" style="padding:15px;">
            <a class="fa fa-ellipsis-v text-white" style="font-size: 30px"></a>

          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
