<router-outlet></router-outlet>

<app-menu-bar></app-menu-bar>

<div class="" id="sortable">
  <div class="ui-state-default">
    <div>
      <h1 class="">k</h1>
    </div>
  </div>
  <div class="ui-state-default">2</div>
  <div  class="ui-state-default">3</div>
  <div class="ui-state-default">4</div>
  <div class="ui-state-default">5</div>
  <div class="ui-state-default">6</div>
  <div class="ui-state-default">7</div>
  <div class="ui-state-default">8</div>
  <div class="ui-state-default">9</div>
  <div class="ui-state-default">10</div>
  <div class="ui-state-default">11</div>
  <div class="ui-state-default">12</div>
</div>




