<br>
<div class="component bg-light" style="height: 900px">
  <div class="heading-dashboard">
    <i class="fa fa-angle-double-right" style="padding: 8px"></i>Sales Dashboard

    <div style="float: right">
      <i style="font-size: 14px">{{today | date:'EEE'}} </i>
      <i>{{today | date:'hh:mm':'+0530'}} </i>
      <i style="font-size: 14px">{{today | date:'a':'+0530'}} .</i>
      <i style="font-size: 14px">{{today | date:'dd MMM yyyy ':'+0530'}}</i>
      <i style="padding: 8px" class="fa fa-external-link"></i>
      <i style="padding: 8px" class="fa fa-share-alt"></i>
    </div>
  </div>

<!--resizeable widgets-->
  <div id="sortable">

    <div class="card effect8 text-center tile bg-light">
      <div class="tile-header">
        <h5 style="float: left; padding: 10px">YTD Sales</h5>
        <a class="" style="float: right; padding: 8px; font-size: 25px">
          <i class="fa fa-star-o text-dark" style="padding-right:8px;"></i>
          <i class="fa fa-search-plus text-dark" style="padding-right:8px;"></i>
          <i class="fa fa-ellipsis-v text-dark" style="padding-right:8px;"></i>
        </a>
      </div>

      <div class="tile-content">
        <a style="font-size: 40px">
          <i class="fa fa-caret-up" style="color: #34ce57"></i>
          <i> $ 127.8 Mn</i>
          <br>
        </a>
      </div>

    </div>


    <div class="card effect8 text-center tile bg-light">
      <div class="tile-header">
        <h5 style="float: left; padding: 10px">Sales Location</h5>
        <a class="" style="float: right; padding: 8px; font-size: 25px">
          <i class="fa fa-star-o text-dark" style="padding-right:8px;"></i>
          <i class="fa fa-search-plus text-dark" style="padding-right:8px;"></i>
          <i class="fa fa-ellipsis-v text-dark" style="padding-right:8px;"></i>
        </a>
      </div>

      <div class="tile-content">
        <a style="font-size: 40px">
          <app-pie></app-pie>
        </a>
      </div>

    </div>


    <div class="card effect8 text-center tile bg-light">
      <div class="tile-header">
        <h5 style="float: left; padding: 10px">YTD Sales</h5>
        <a class="" style="float: right; padding: 8px; font-size: 25px">
          <i class="fa fa-star-o text-dark" style="padding-right:8px;"></i>
          <i class="fa fa-search-plus text-dark" style="padding-right:8px;"></i>
          <i class="fa fa-ellipsis-v text-dark" style="padding-right:8px;"></i>
        </a>
      </div>

      <div class="tile-content">
        <a style="font-size: 40px">
          <i class="fa fa-caret-up" style="color: #34ce57"></i>
          <i> $ 127.8 Mn</i>
          <br>
          <h1>3</h1>
          <h1>3</h1>
          <h1>3</h1>
          <h1>3</h1>
        </a>
      </div>

    </div>

    <div class="card effect8 text-center tile bg-light">
      <div class="tile-header">
        <h5 style="float: left; padding: 10px">YTD Sales</h5>
        <a class="" style="float: right; padding: 8px; font-size: 25px">
          <i class="fa fa-star-o text-dark" style="padding-right:8px;"></i>
          <i class="fa fa-search-plus text-dark" style="padding-right:8px;"></i>
          <i class="fa fa-ellipsis-v text-dark" style="padding-right:8px;"></i>
        </a>
      </div>

      <div class="tile-content">
        <a style="font-size: 40px">
          <i class="fa fa-caret-up" style="color: #34ce57"></i>
          <i> $ 127.8 Mn</i>
          <br>
          <h1>4</h1>
          <h1>4</h1>
          <h1>4</h1>
          <h1>4</h1>
          <h1>4</h1>
        </a>
      </div>

    </div>

    <div class="card effect8 text-center tile bg-light">
      <div class="tile-header">
        <h5 style="float: left; padding: 10px">Annual Sales by Gender</h5>
        <a class="" style="float: right; padding: 8px; font-size: 25px">
          <i class="fa fa-star-o text-dark" style="padding-right:8px;"></i>
          <i class="fa fa-search-plus text-dark" style="padding-right:8px;"></i>
          <i class="fa fa-ellipsis-v text-dark" style="padding-right:8px;"></i>
        </a>
      </div>

      <div class="tile-content">
        <a style="font-size: 40px">
          <app-bar></app-bar>
        </a>
      </div>

    </div>


    <br>
    <br>
    <br>
  </div>

</div>




