#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 450px;
}

#sortable div {
  margin: 3px 3px 3px 0;
  padding: 1px;
  float: left;
  width: auto;
  height: auto;
  font-size: 4em;
  text-align: center;
}
